.instruction-item {
    display: flex;
    margin: 8px 0;
}

.instruction-item__title {
    margin: 0 8px;
    min-width: 11rem;
    display: flex;
    flex: 1
}

.instruction-item__text {
    margin: 0 8px;
    display: flex;
    flex: 9;
    padding: 6px 0;
    word-wrap: break-word;
}